@charset "UTF-8";

/*============================================
Подключение шрифтов
============================================*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v9-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/pt-sans-v9-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v9-latin_cyrillic-700.woff2") format("woff2"),
       url("../fonts/pt-sans-v9-latin_cyrillic-700.woff") format("woff");
}

/*============================================
Базовые стили
============================================*/
body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.container-padded {
    padding-left: 72px;
    padding-right: 72px;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*============================================
Стили навигации - хедера
============================================*/
.main-navigation {
    position: relative;
    line-height: 1.86;
    font-weight: bold;
    color: #000000;

    background-color: #ffffff;
}

.main-header-logo {
    position: absolute;
    width: 140px;
    height: 72px;
    top: -1px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

.site-navigation .site-navigation-items {
    padding-top: 15px;
    padding-bottom: 15px;
}

.site-navigation .site-navigation-item-1 {
    text-align: left;
    padding-right: 74px;
}

.site-navigation .site-navigation-item-2 {
    margin-right: auto;
    text-align: left;
    padding-left: 73px;
    padding-right: 68px;
}

.site-navigation .site-navigation-item-3 {
    margin-left: auto;
    text-align: right;
    padding-left: 76px;
    padding-right: 75px;
}

.site-navigation .site-navigation-item-4 {
    text-align: right;
    padding-left: 88px;
}

.site-navigation a:not(.current-page) {
    color: #000000;
}

.site-navigation a:not(.current-page):hover {
    color: #81b3d2;
}

.site-navigation a:not(.current-page):active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current-page,
.site-navigation .current-page:hover,
.site-navigation .current-page:active {
    color: #766357;
}


/*============================================
Стили основного контента
============================================*/
/* приветствие с фоном */

.main-content {
    display: flex;
    flex-direction: column;
}
.main-image {
    min-height: 508px;
    background: url("../img/welcome-bg_all-in-one.jpg");
    background-position: 0 -83px;
    background-repeat: no-repeat;
}

.welcome {
    background-color: #ffffff;
}

.welcome-container {
    max-width: 500px;
    min-height: 155px;
    margin: 0 auto;
    padding-bottom: 18px;
    padding-top: 43px;
    background-color: #fff;
    text-align: center;
}

.welcome .welcome-header {
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
}

/* блок преимуществ */
.features-list,
.features-inner-list,
.features-list-second {
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-list .features-item-1 {
    display: flex;
    flex-direction: column;
    min-height: 256px;
    padding-left: 60px;
    padding-right: 860px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/city-scene.jpg");
    background-position: 100% -78px;
    background-repeat: no-repeat;
}

.features-list .features-item-3 {
    display: flex;
    flex-direction: column;
    min-height: 256px;
    padding-right: 49px;
    padding-left: 848px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/devils-bridge.jpg");
    background-position: 0 -76px;
    background-repeat: no-repeat;
}
/* ---------------- */
.features-inner-list {
    display: flex;
    margin-bottom: 2px;
    background-color: #ffffff;
}

.features-inner-list .features-inner-item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 145px;
    padding-bottom: 66px;
    text-align: center;

    background-repeat: no-repeat;
    background-position-x: 50%;
}

.features-inner-list .features-title {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
}

.features-inner-list .features-inner-item-1 {
    width: 252px;
    padding-left: 73px;
    padding-right: 75px;

    background-image: url("../img/icon-1.svg");
    background-position-y: 60px;
}

.features-inner-list .features-inner-item-2 {
    width: 284px;
    padding-left: 58px;
    padding-right: 58px;

    background-image: url("../img/icon-2.svg");
    background-position-y: 61px;
}

.features-inner-list .features-inner-item-3 {
    width: 273px;
    padding-left: 64px;
    padding-right: 63px;

    background-image: url("../img/icon-3.svg");
    background-position-y: 56px;
}
/* -------------------- */
.features-list-second {
    display: flex;
    text-align: center;
}

.features-item-4 {
    width: 208px;
    padding: 34px 97px 47px 95px;
}

.features-item-5 {
    width: 262px;
    padding: 34px 69px 47px 69px;
}

.features-item-6 {
    width: 247px;
    padding: 34px 77px 47px 76px;
}

.features-list-second .features-title {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 26px;
}

.features-list-second .features-text {
    padding-top: 7px;
}

/* ---------------- */
.features-item .features-title {
    font-size: 21px;
    line-height: 1;
    font-weight: bold;
    color: #000000;
}

.features .features-special-title {
    padding-top: 25px;
    padding-bottom: 5px;
    color: #ffffff;
}

.features-item .features-number{
    padding-bottom: 5px;
}

/* блок заказа гостиниц */
.booking {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.booking-first-container {
    padding-top: 50px;
    padding-bottom: 47px;
}

.booking b {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    color: #000000;
}

.booking p {
    margin: 0;
    padding-top: 25px;
    line-height: 1.71;
    color: #333333;
}

.booking-map-wrapper {
    position: relative;
    display: block;
    width: 1200px;
    height: 557px;
}

.booking-button {
    display: block;
    width: 568px;
    min-height: 56px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 29px;
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #ffffff;

    background-color: #766357;
}

.booking-button:hover {
    background-color: #604e43;
}

.booking-button:active {
    background-color: #503e33;
}

.booking input[type="submit"]:hover {
    background-color: #669ec0;
}

.booking input[type="submit"]:active {
    background-color: #5496bd;
}

.booking-img {
    position: absolute;
    top: 85px;
    left: 0;
}

.booking-form {
    position: absolute;
    width: 568px;
    top: 290px;
    padding: 55px;

    background-color: #ffffff;
    box-sizing: border-box;
}

.booking-form .booking-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 1.86;
    color: #000000;
    box-sizing: border-box;
}
.booking-form .booking-number-container {
    margin-bottom: 55px;
}

.booking-form label {
    display: block;
    flex-shrink: 0;
    width: 112px;
    text-align: left;
    padding: 6px 0 6px 0;
}

.booking-container-column {
    display: flex;
    width: 50%;
}

.booking-form .booking-input-wrapper {
    position: relative;
    width: 346px;
}

.booking-input-wrapper-calendar .calendar-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 39px;
    height: 38px;
    padding: 0;
    border: 0;

    background-color: transparent;
}

.booking-input-wrapper-calendar .calendar-icon {
    fill: #cacaca;
}

.booking-input-wrapper-calendar .calendar-icon:hover {
    fill: #000000;
}

.booking-input-wrapper-calendar .calendar-icon:active {
    fill: #81b3d2;
}

.booking-form .booking-input {
    width: 100%;
    min-height: 38px;
    padding: 6px 15px;
    padding-right: 45px;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 1.86;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
/*     outline: 0; */

    background-color: #f2f2f2;
}

.booking-container-column .booking-input {
    width: 50%;
    height: 38px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.booking-container-column-2 label {
    text-align: center;
    padding-right: 10px;
    width: 50%;
}

input[type="number"] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.booking-form .booking-input:hover {
    background-color: #ebebeb;
}

.booking-form .booking-input:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #e5e5e5;
}

.booking-form .booking-input::placeholder {
    color: #000000;
}

.booking-input-wrapper-counter {
    display: flex;
    width: 100%;
}

.booking-control {
    position: relative;
    display: block;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: 0;
}

.booking-control-minus:before {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    width: 11px;
    height: 3px;
    border-radius: 1px;
    background-color: #a9a9a9;
}

.booking-control-plus:before {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    width: 11px;
    height: 3px;
    border-radius: 1px;
    background-color: #a9a9a9;
}

.booking-control-plus:after {
    content: "";
    position: absolute;
    top: 14px;
    left: 17px;
    width: 3px;
    height: 11px;
    border-radius: 1px;
    background-color: #a9a9a9;
}

.booking-control-minus:hover:before{
    background-color: #000000;
}

.booking-control-plus:hover:after,
.booking-control-plus:hover:before{
    background-color: #000000;
}

.booking-control-minus:active:before{
    background-color: #81b3d2;
}

.booking-control-plus:active:after,
.booking-control-plus:active:before{
    background-color: #81b3d2;
}

.booking-form input[type=submit] {
    width: 100%;
    margin-bottom: 0;
    padding: 16px 48px;
    text-align: center;
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    background-color: #81b3d2;

}

/*============================================
Стили подвала
============================================*/
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 1200px;
    min-height: 120px;
    background-color: #ffffff;
    opacity: 0.9;
}

.footer-hash {
    padding-left: 132px;
}

.footer-hash a{
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #000000;
}

.footer-social .social-list {
    display: flex;
    margin: 0;
    margin-left: 26px;
    padding: 0;
    list-style: none;
}

.social-list li {
    margin-right: 6px;
}

.social-list li:last-child {
    margin-right: 0;
}

.social-list .social-button {
    display: block;
    width: 46px;
    height: 48px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #81b3d2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social-list .social-button:last-child {
    margin-right: 0;
}

.social-list .social-button-tw {
    background-image: url("../img/twitter.svg");
}

.social-list .social-button-fb {
    background-image: url("../img/fb-icon.svg");
}

.social-list .social-button-you {
    background-image: url("../img/youtube.svg");
}

.footer-copyright {
    display: flex;
    align-items: center;
    padding-right: 101px;
}

.footer-copyright span {
    padding-right: 8px;
    line-height: 1.86;
    color: #000000;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.footer-copyright .html-academy-link {
    padding-top: 6px;
}

/*============================================
Стили страницы отелей
============================================*/
.filter {
    min-height: 160px;
    padding: 27px 0 30px;
    color: #ffffff;
    background-image: url("../img/filter_bg.jpg");
    background-repeat: no-repeat;
    background-position: 0 -100px;
}

.filter .flex-container {
    display: flex;
    box-sizing: border-box;
}

.inner-booking-form .booking-fieldset {
    min-width: 240px;
    margin: 0;
    padding: 0;
    border: 0;
}

.inner-booking-form .booking-fieldset-2 {
    margin-left: 15px;
}

.filter .fieldset-legend {
    font-size: 16px;
    line-height: 1.31;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;
}

.filter .filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter .filter-item {
    margin-bottom: 23px;
}

.filter .filter-item:last-child {
    margin-bottom: 0;
}

.filter .filter-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filter .filter-checkbox-label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
    user-select: none;
}

.filter .filter-checkbox-label:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 23px 23px;
}

.filter-checkbox:checked ~ .filter-checkbox-label:before {
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-size: 27px 23px;
}

.inner-booking-form .range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

/* ====================================================== */
.range {
  width: 318px;
  padding: 0;
  border: none;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

.range-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.range-controls {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 32px;
  margin-top: 9px;
  margin-bottom: 54px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 2px;
}

.range-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: hsl(0, 0%, 100%);
  transform: translate(-50%, -50%);
}

.range-label {
  font-size: 14px;
  line-height: 32px;
}

.range-label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 32px;
}

.range-label-min::before {
  left: 0;
}
.range-label-max::before {
  right: 0;
}

.range-scale {
  position: absolute;
  bottom: -22px;
  width: 100%;
  height: 2px;
  background: hsla(0, 0%, 100%, 0.3);
}

.range-bar {
  position: absolute;
  left: calc(100% * 0 / 5000);
  right: calc(100% * (5000 - 3000) / 5000);
  height: 2px;
  background: hsl(0, 0%, 100%);
}

.range-lever {
  box-sizing: border-box;
  position: absolute;
  bottom: -32px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: hsl(0, 0%, 67%);
  border: 8px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 hsla(0, 0%, 0%, 0.2);
  cursor: grab;
}

.range-lever:active {
  cursor: grabbing;
}

.range-lever:hover {
  background: hsl(209, 64%, 31%);
}

.range-lever-min {
  left: calc(100% * 0 / 5000 - 20px / 2);
}

.range-lever-max {
  left: calc(100% * 3000 / 5000 - 20px / 2);
}

.range-input:focus + .range-lever {
  box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0.5);
}

.btn-transparent {
  display: block;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: hsl(0, 0%, 0%);
  background: hsl(0, 0%, 100%);
}

.btn-transparent:focus::-moz-focus-inner {
  border: 0;
}

/* ====================================================== */

.filter-info {
    color: #000000;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.filter-info .flex-container {
    display: flex;
    align-items: center;
    padding-top: 10px;

}

.filter-search-results {
    min-width: 135px;
    margin-right: 30px;
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #000000;
}

.filter-type {
    margin-top: 5px;
}

.sort-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
}

.sort-list-title {
    margin-right: 38px;
}

.sort-item {
    margin-right: 34px;
}

.sort-item:last-child {
    margin-right: 0;
}

.sort-list-link {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}

.sort-list-link-active {
    color: #81b3d1;
    border-color: transparent;
}

.sort-list-link:active {
    color: #000000;
    border-color: transparent;
}

.sort-list-link:hover {
    color: #81b3d1;
}

.filter-sort {
    margin-top: 3px;
    margin-right: 1px;
    margin-left: auto;
}

.filter-sort-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.triangle-item:last-child {
    margin-left: 12px;
}

.triangle {
    display: block;
    width: 0px;
    height: 0px;
    border-width: 10px 5.5px;
    border-color: #cacaca;
    border-style: solid;
    text-indent: -1000px;
    overflow: hidden;
}

.triangle-up {
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.triangle-active {
    border-color: #81b3d2;
}

.triangle-down {
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.triangle:hover {
    border-color: #231f20;
    border-left-color: transparent;
    border-right-color: transparent;
}

.triangle:active {
    border-color: #81b3d2;
    border-left-color: transparent;
    border-right-color: transparent;
}


/* ====================================================== */
.hotels {
    background-color: #ffffff;
}

.hotels .hotel-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotel-list .hotel-list-item {
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-list-item-2 {
    padding-top: 0;
}

.hotel-list img {
    display: block;
    width: 135px;
    height: 90px;
}

.hotel-list .hotel-pic-container {
    padding-top: 5px;
    margin-right: 30px;
}

.hotel-list .hotel-name {
    margin-top: 0;
    margin-bottom: 7px;
}

.hotel-name a {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000000;
}

.hotel-list .hotel-details {
    display: flex;
    margin-top: 0;
    margin-bottom: 14px;
}

.hotel-list .hotel-type {
    min-width: 110px;
    margin-right: 6px;
}

.hotel-list .hotel-buttons {
    display: flex;
}

.hotel-buttons .button {
    display: inline-block;
    vertical-align: top;
    padding: 4px 17px;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
    text-align: center;
}

.hotel-buttons .button-confirm {
    background-color: #766357;
    margin-left: 6px;
}

.hotel-name a:hover {
    color: #81b3d2;
}

.hotel-name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-buttons a {
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
}

.button-action {
    background-color: #81b3d2;
}

.button-confirm {
    background-color: #766357;
}

.button-action:hover {
    background-color: #669ec0;
}

.button-action:active {
    background-color: #5496bd;
}

.button-confirm:hover {
    background-color: #604e43;
}

.button-confirm:active {
    background-color: #503e33;
}

.hotel-list .hotel-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.hotel-stars {
    display: flex;
    width: 114px;
    margin-top: 4px;
    justify-content: flex-end;
}

.star {
    width: 18px;
    height: 17px;
    text-indent: -1000px;
    overflow: hidden;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 5px;
}

.star:first-child {
    margin-left: 0;
}

.rating-text {
    display: inline-block;
    vertical-align: top;
    padding: 3px 14px;
    min-width: 90px;
    align-self: flex-end;
    background-color: #f2f2f2;
}
