/*
(https://codepen.io/code_monkey/pen/VrOQLZ)

1 Сделать сетку филдсетов страницы отелей

2 Инпуты в фильтре отелей (https://codepen.io/firefoxic/pen/ZMQBBE)

3 Убрать лишние div внутри li
4 Упорчдочить стили features
*/

@charset "UTF-8";

/*============================================
Подключение шрифтов
============================================*/
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"),
        url("../fonts/pt-sans-v9-latin_cyrillic-regular.woff") format("woff")
        url("../fonts/pt-sans-v9-latin_cyrillic-regular.woff2") format("woff2")
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans Bold"), local("PTSans-Bold"),
        url("../fonts/pt-sans-v9-latin_cyrillic-700.woff") format("woff")
        url("../fonts/pt-sans-v9-latin_cyrillic-700.woff2") format("woff2")
}

/*============================================
Базовые стили
============================================*/
html {
    background-color: #ffffff;
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
    width: 1280px;
    margin: 0 auto;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.container-padded {
    padding-left: 72px;
    padding-right: 72px;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*============================================
Стили навигации - хедера
============================================*/
.main-navigation {
    position: relative;
    line-height: 1.86;
    font-weight: bold;
    color: #000000;

    background-color: #ffffff;
}

.main-header-logo {
    position: absolute;
    width: 140px;
    height: 72px;
    top: -1px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

.site-navigation .site-navigation-items {
    padding-top: 15px;
    padding-bottom: 15px;
}

.site-navigation .site-navigation-item-1 {
    text-align: left;
    padding-right: 74px;
}

.site-navigation .site-navigation-item-2 {
    margin-right: auto;
    text-align: left;
    padding-left: 73px;
    padding-right: 68px;
}

.site-navigation .site-navigation-item-3 {
    margin-left: auto;
    text-align: right;
    padding-left: 76px;
    padding-right: 73px;
}

.site-navigation .site-navigation-item-4 {
    text-align: right;
    padding-left: 88px;
}

.site-navigation a:not(.current-page) {
    color: #000000;
}

.site-navigation a:not(.current-page):hover {
    color: #81b3d2;
}

.site-navigation a:not(.current-page):active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current-page,
.site-navigation .current-page:hover,
.site-navigation .current-page:active {
    color: #766357;
}


/*============================================
Стили основного контента
============================================*/
/* приветствие с фоном */
.welcome {
    display: flex;
    flex-direction: column;
    background: url("../img/welcome-bg_all-in-one.jpg");
    background-position: 0 -83px;
    background-repeat: no-repeat;
}

.welcome-container {
    min-height: 155px;
    margin-top: 508px;
    padding-top: 61px;
    background-color: #fff;
    text-align: center;
}

.welcome .welcome-header {
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
}

/* блок преимуществ */
.features-list,
.features-inner-list,
.features-list-second {
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-list .features-item-1 {
    display: flex;
    flex-direction: column;
    min-height: 256px;
    padding-left: 60px;
    padding-right: 860px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/city-scene.jpg");
    background-position: 100% -78px;
    background-repeat: no-repeat;
}

.features-list .features-item-3 {
    display: flex;
    flex-direction: column;
    min-height: 256px;
    padding-right: 49px;
    padding-left: 848px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/devils-bridge.jpg");
    background-position: 0 -76px;
    background-repeat: no-repeat;
}
/* ---------------- */
.features-inner-list {
    display: flex;
}

.features-inner-list .features-inner-item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 145px;
    padding-bottom: 66px;
    text-align: center;

    background-repeat: no-repeat;
    background-position-x: 50%;
}

.features-inner-list .features-inner-item-1 {
    width: 252px;
    padding-left: 73px;
    padding-right: 75px;

    background-image: url("../img/icon-1.svg");
    background-position-y: 60px;
}

.features-inner-list .features-inner-item-2 {
    width: 284px;
    padding-left: 58px;
    padding-right: 58px;

    background-image: url("../img/icon-2.svg");
    background-position-y: 61px;
}

.features-inner-list .features-inner-item-3 {
    width: 273px;
    padding-left: 64px;
    padding-right: 63px;

    background-image: url("../img/icon-3.svg");
    background-position-y: 56px;
}
/* -------------------- */
.features-list-second {
    display: flex;
    text-align: center;
}

.features-item-4 {
    width: 208px;
    padding: 34px 97px 47px 95px;
}

.features-item-5 {
    width: 262px;
    padding: 34px 69px 47px 69px;
}

.features-item-6 {
    width: 247px;
    padding: 34px 77px 47px 76px;
}

/* ---------------- */
.features-item .features-title {
    font-size: 21px;
    line-height: 1;
    font-weight: bold;
    color: #000000;
}

.features .features-special-title {
    color: #ffffff;
}

.features-item .features-number::before,
.features-item .features-number::after {
    content: " \2014";
}

/* блок заказа гостиниц */
.booking {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.booking-first-container {
    padding-top: 50px;
    padding-bottom: 45px;
}

.booking b {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    color: #000000;
}

.booking p {
    line-height: 1.71;
    color: #333333;
}

/* .js .booking-form {
    display: none;
}
 */
.booking-button {
    display: inline-block;
    width: 568px;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #ffffff;

    background-color: #766357;
}

.booking-form {
    position: absolute;
    width: 458px;
    top: 285px;
    padding-left: 55px;
    padding-right: 55px;

    background-color: #ffffff;
    outline: 1px solid red;
}

.booking-form p {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 1.86;
    color: #000000;
}

.booking-form p:first-child {
    padding-top: 55px;
}

.booking-form input[type=text],
.booking-form input[type=number] {
    min-height: 38px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.booking-form input[type=text] {
    width: 346px;
}

.booking-form input[type=submit] {
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #ffffff;

    background-color: #81b3d2;
}

.booking-form label {
    padding-right: 22px;
}

/*============================================
Стили подвала
============================================*/
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    background-color: #ffffff;
}

.footer-hash {
    padding-left: 132px;
}

.footer-hash a{
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #000000;
}

.footer-social .social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-list li {
    margin-right: 6px;
}

.social-list li:last-child {
    margin-right: 0;
}

.social-list .social-button {
    display: block;
    width: 46px;
    height: 48px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #81b3d2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social-list .social-button:last-child {
    margin-right: 0;
}

.social-list .social-button-tw {
    background-image: url("../img/twitter.svg");
}

.social-list .social-button-fb {
    background-image: url("../img/fb-icon.svg");
}

.social-list .social-button-you {
    background-image: url("../img/youtube.svg");
}

.footer-copyright {
    display: flex;
    align-items: center;
    padding-right: 101px;
}

.footer-copyright span {
    padding-right: 8px;
    line-height: 1.86;
    color: #000000;
}

/*============================================
Стили страницы отелей
============================================*/
.inner-booking-form .container-padded {
    background-image: url("../img/filter_bg.jpg");
    background-repeat: no-repeat;
    background-position: 0 -100px;
}

.inner-booking-form .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.inner-booking-form .booking-fieldset {
    margin: 0;
    padding: 0;
    bottom: 0;
}

.inner-booking-form .booking-fieldset-2 {
    margin-left: 115px;
}

.inner-booking-form .booking-fieldset-3 {
    margin-left: 350px;
}

.filter {
    color: #ffffff;
}

.filter legend {
    font-size: 16px;
    line-height: 1.31;
    font-weight: bold;
}

.filter ul {
    list-style: none;
}

.filter-info {
    color: #000000;
}

.filter-info .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.filter-info b,
.filter-info .filter-number-of-items {
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
}

.filter-sort {
    display: flex;
    font-size: 12px;
}

.sort-list {
    display: flex;
    padding: 0;
    list-style: none;
}

.sort-list a {
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover {
    color: #81b3d2;
}

.sort-list a:active {
    color: #000000;
    border-bottom: none;
}

.sort-list .triangle {
    display: block;
    width: 0;
    height: 0;
}

.sort-list .triangle-top {
    border: 7px solid transparent;
    border-top: 11px solid #cacaca;
}

.sort-list .triangle-bot {
    border: 7px solid transparent;
    border-bottom: 11px solid #cacaca;
}

.sort-list .triangle-top:active {
    border: 7px solid transparent;
    border-top: 11px solid #81b3d2;
}

.sort-list .triangle-bot:active {
    border-bottom: 11px solid #81b3d2;
}

.hotels .hotel-list {
    list-style: none;
    padding-left: 0;
}

.hotel-list .hotel-list-item {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.hotel-list .hotel-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-list .hotel-info {
    margin-left: 30px;
}

.hotel-name a {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000000;
}

.hotel-name a:hover {
    color: #81b3d2;
}

.hotel-name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-buttons a {
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
}

.button-action {
    background-color: #81b3d2;
}

.button-confirm {
    background-color: #766357;
}

.button-action:hover {
    background-color: #669ec0;
}

.button-action:active {
    background-color: #5496bd;
}

.button-confirm:hover {
    background-color: #604e43;
}

.button-confirm:active {
    background-color: #503e33;
}

.hotel-list .hotel-rating {
    margin-left: auto;
}
