@charset "UTF-8";

/*============================================
Подключение шрифтов
============================================*/
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/pt-sans-v9-latin_cyrillic-regular.woff2') format('woff2')
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/pt-sans-v9-latin_cyrillic-700.woff2') format('woff2')
}


/*============================================
Базовые стили
============================================*/
body {
    margin: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*============================================
Стили навигации
============================================*/
.main-navigation {
    font-size: 14px;
    line-height: 1.86;
    font-weight: bold;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

li.current-page a,
li.current-page a:hover,
li.current-page a:active {
    color: #766357;
}


/*============================================
Стили основного контента
============================================*/

/* Не получается нормально отцентровать фон с текстом */
.welcome::before {
    content: '';
    display: block;
    width: 1200px;
    height: 800px;
    background: url(../img/intro-mask.svg) 50% bottom no-repeat,
                url(../img/intro-welcome.svg) center 50% no-repeat,
                url(../img/welcome-bg.jpg) top no-repeat;
    background-size: 100%, 50%, cover;
}

.welcome h2 {
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #000000;
}

/* блок преимуществ */
.features-list,
.features-inner-list {
    list-style: none;
}

.features-inner-list {
    background-color: #ffffff;
}

.features-list-one .features-item:first-child,
.features-list-one .features-item:last-child {
    color: #ffffff;

    background-color: #81b3d2;
}

.features-item h3 {
    font-size: 21px;
    line-height: 1;
    font-weight: bold;
    color: #000000;
}

h3.features-special-title {
    color: #ffffff;
}

.features-item span::before,
.features-item span::after {
    content: ' - ';
}

.features-inner-item:nth-child(1) {
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
}

.features-inner-item:nth-child(2) {
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
}

.features-inner-item:nth-child(3) {
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
}

/* блок заказа гостиниц */
.booking {
    background-color: #ffffff;
}

.booking b {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    color: #000000;
}

.booking p {
    line-height: 1.71;
    color: #333333;
}

.booking-form {
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.booking-form .booking-button {
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #ffffff;

    background-color: #766357;
}

.booking-form p {
    font-weight: bold;
    line-height: 1.86;
    color: #000000;
}

.booking-form input[value="Найти"] {
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #ffffff;

    background-color: #81b3d2;
}


/*============================================
Стили подвала
============================================*/
.main-footer {
    background-color: #ffffff;
}

.footer-hash a{
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    color: #000000;
}

.footer-social .social-list {
    list-style: none;
}

.social-list .social-button {
    color: #ffffff;

    background-color: #81b3d2;
}

.footer-copyright span {
    line-height: 1.86;
    color: #000000;
}


/*============================================
Стили страницы отелей
============================================*/
.inner-page {
    background-color: #ffffff;
}

.inner-content{
    background-image: url(../img/filter_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 562px;
}

.filter {
    color: #ffffff;
}

.filter legend {
    font-size: 16px;
    line-height: 1.31;
    font-weight: bold;
}

.filter ul {
    list-style: none;
}

.filter-info {
    color: #000000;
}

.filter-info b {
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
}

.filter-sort {
    font-size: 12px;
}

.filter-sort ul {
    list-style: none;
}

.sort-list a {
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover {
    color: #81b3d2;
}

.sort-list a:active {
    color: #000000;
    border-bottom: none;
}

.hotels ul {
    list-style: none;
}

.hotel-name a {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000000;
}

.hotel-name a:hover {
    color: #81b3d2;
}

.hotel-name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-buttons a {
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
}

.button-action {
    background-color: #81b3d2;
}

.button-confirm {
    background-color: #766357;
}

.button-action:hover {
    background-color: #669ec0;
}

.button-action:active {
    background-color: #5496bd;
}

.button-confirm:hover {
    background-color: #604e43;
}

.button-confirm:active {
    background-color: #503e33;
}
